<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" type ="text/css" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
      {{{body}}}
      <script src="/socket.io/socket.io.js"></script>
      <script src="/js/script.js"></script>
  </body>
</html>