<aside id="chatlijstcontainer" class="">
    <ul id="chatlijst">

      </ul>
</aside>
<!-- <div id="startscherm">Connecting...</div> -->
<main id="chatcontainer">
    <div id="messageheader">
        <a href="#" id="chatbackbutton"><svg style="enable-background:new 0 0 512 512;" viewBox="0 0 512 512"><polygon points="352,128.4 319.7,96 160,256 160,256 160,256 319.7,416 352,383.6 224.7,256 "/></svg></a>
        <h1 id="headerh1">Groepnaam</h1>
    </div>
    <ul id="messages">

    </ul>
    <form id="form" action="">
        <input id="input" autocomplete="off"/><button>Send</button>
    </form>
</main>
