    <form  method="POST" id="loginform">
        <input name="username" type="text" placeholder="username" autocomplete="off" required>
        {{!-- <input name="password" type="password" placeholder="password" required> --}}
        <a href="/messages">
        <input type="submit" value="Submit">
        </a>
    </form>

    <a href="/messages">Chat</a>