    <form action="/messages" method="POST" id="loginform">
        <input name="username" type="text" placeholder="username" autocomplete="off" required>
        <input type="submit" value="Submit">
    </form>

    <a href="/messages">Chat</a>