* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: -apple-system, Arial, Segoe UI, Roboto, Helvetica, BlinkMacSystemFont, sans-serif;
}

:root {
    --achtergrond: #fff;
    --tekst: #000;
    --tekstalt: #fff;
    --back: #000;
    --formachtergrond: #D3D3D3;
}

.chat main {
    width: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.chat aside {
    background: var(--achtergrond);
    overflow-x: hidden;
    width: 30%;
    height: 100%;
    border-right: var(--tekst) solid 2px;
    position: absolute;
    left: 0;
    z-index: 10;
}

.chat aside ul:first-of-type {
    width: 100%;
    height: 50%;
    overflow-y: auto;
}

.chat aside ul:first-of-type li {
    display: inline-block;
    border-bottom: solid 1px grey;
    transition: all .15s;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.chat aside ul:first-of-type li a {
    padding: 2em 0;
    display: block;
    height: 1em;
    text-decoration: none;
    color: black;
}

.chat aside ul:first-of-type li:hover,
.chat aside ul:first-of-type li:focus-within {
    background-color: #eee;
}

.chat aside ul:first-of-type li span {
    display: block;
}

.chat aside ul:last-of-type {
    width: 100%;
    height: calc(50% - 3px);
    overflow-y: auto;
    border-top: black 3px solid;
}

.chat aside ul:last-of-type li {
    display: flex;
    align-items: center;
    width: calc(100% - 2em);
    height: 2em;
    border-bottom: 1px black solid;
    padding: 1em;
}

.chat main form {
    position: absolute;
    /* bottom: 0; */
    right: 0;
    background: var(--formachtergrond);
    height: 2.75em;
    /* width: 98%; */
    width: calc(100% - 1em);
    padding: .5em;
    display: flex;
}

.chat main form input[type=text] {
    border: none;
    padding: 0 1em;
    flex-grow: 1;
    border-radius: 999em;
    margin: .3em;
}

.chat main form input[type=text]:focus { 
    border: darkgray 2px solid;
    outline: none;
}
.chat main form > button { 
    background: darkblue; 
    border: none;
    padding: 0 2em; 
    margin: 0.25em; 
    border-radius: .2em; 
    outline: none; 
    color: var(--tekstalt); 
}

.chat main form > button:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.chat main > ul {
    height: calc(100% - 7.75em - 1px);   /* som van header en form + padding + header border */
    width: calc(100% - 2em);
    padding: 0 1em;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-x: hidden;
}

.chat main > ul li {
    background: white;
    align-self: start;
    position: relative;
    font-size: 1rem;
    padding: 0.5em 1em;
    width: 80%;
    border: solid 1px black;
    border-radius: 3em;
}

.chat main > ul > li.yourmsg {
    align-self: end;
    background: lightblue;
}

.chat main > ul > li.servermsg {
    align-self: center;
    background: white;
    border-color: red;
    width: 40%;
    text-align: center;
}

.chat main > ul > li.servermsg div {
    justify-content: center;
}

.chat main > ul > li:first-of-type {
    margin-top: 1em;
}

.chat main > ul > li:last-of-type {
    margin-bottom: 1em;
}

.chat main > ul > li div {
    display: flex;
    gap: .5em;
}

.chat main > ul > li div strong {
    font-size: .8rem;
}

.chat main > ul > li div small {
    font-size: .7rem;
}

.chat main > ul > li svg {
    fill: black;
    display: none;
    position: absolute;
    right: -1.1em;
    top: .5em;
    width: 3em;
    /* height: 1em; */
}

.chat main > ul > li.yourmsg:hover svg {
    display: inline;
}

.chat main > ul > li.yourmsg input[type=text] {
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
    height: 2em;
}

.chat main > ul > li aside {
    display: none;
}



/*****************************
header boven chat (chatnaam)
*****************************/
.chat main > div:first-of-type {
    height: 4em;
    background: var(--achtergrond);
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.chat main > div:first-of-type h2 {
    font-weight: normal;
    font-size: 1.5rem;
    margin-left: 1em;
}

.chat main > div:first-of-type svg {
    display: none;
}



/*****************************
Login page 
*****************************/
#loginform label {
    display: block;
}



/*****************************
mobile styles, media query   
*****************************/
@media only screen and (max-width: 768px) {
    .chat main {
        width: 100%;
        top: 0;
        bottom: 0;
    }
    .chat aside {
        width: 0%;
        background: var(--achtergrond);
        transition: all .3s;
        border: none;
    }
    .chat aside.active {
        width: 100%;
    }
    .chat main > ul li {
        font-size: 1.1rem;
    }

    .chat main > div:first-of-type h2 {
        margin-left: .5em;
    }

    .chat main > div:first-of-type svg {
        display: inline;
        width: 3em;
    }
}