* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: -apple-system, Arial, Segoe UI, Roboto, Helvetica, BlinkMacSystemFont, sans-serif;
}

:root {
    --achtergrond: #fff;
    --tekst: #000;
    --tekstalt: #fff;
    --back: #000;
    --formachtergrond: #D3D3D3;
}

#startscherm {
    display: inline;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--achtergrond);
    /* z-index: 999; */
    justify-content: center;
}

#startscherm.connected {
    display: none;
}

#chatcontainer {
    width: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

aside {
    background: var(--achtergrond);
    overflow-x: hidden;
    width: 30%;
    height: 100%;
    border-right: var(--tekst) solid 2px;
    position: absolute;
    left: 0;
    z-index: 10;
}

aside ul:first-of-type {
    width: 100%;
    height: 50%;
    overflow-y: auto;
}

aside ul:first-of-type li {
    padding: 2em;
    border-bottom: solid 1px grey;
    transition: all .15s;
    cursor: pointer;
}

aside ul:first-of-type li:hover {
    background-color: #eee;
}

aside ul:first-of-type li span {
    display: block;
}

aside ul:last-of-type {
    width: 100%;
    height: calc(50% - 3px);
    overflow-y: auto;
    border-top: black 3px solid;
}

aside ul:last-of-type li {
    display: flex;
    align-items: center;
    width: calc(100% - 2em);
    height: 2em;
    border-bottom: 1px black solid;
    padding: 1em;
}

#form {
    position: absolute;
    /* bottom: 0; */
    right: 0;
    background: var(--formachtergrond);
    height: 2.75em;
    width: 98%;
    padding: .5em;
    display: flex;
}

#input {
    border: none;
    padding: 0 1em;
    flex-grow: 1;
    border-radius: 999em;
    margin: .3em;
}

#input:focus { 
    border: darkgray 2px solid;
    outline: none;
}
#form > button { 
    background: darkblue; 
    border: none;
    padding: 0 2em; 
    margin: 0.25em; 
    border-radius: .2em; 
    outline: none; 
    color: var(--tekstalt); 
}

#form > button:hover {
    transform: scale(1.03);
    cursor: pointer;
}

#messages {
    height: calc(100% - 7.75em);   /* som van header en form + padding */
    overflow-y: auto;
}

#messages > li {
    position: relative;
    font-size: 1rem;
    padding: 0.5em 1em;
}

#messages > li:nth-child(odd) { 
    background: #efefef;
}

#messages > li div {
    display: flex;
    gap: .5em;
}

#messages > li div strong {
    font-size: .8rem;
}

#messages > li div small {
    font-size: .7rem;
}



#messageheader {
    height: 4em;
    background: var(--achtergrond);
    width: 100%;
    display: flex;
    align-items: center;
}

#messageheader h1 {
    font-weight: normal;
    font-size: 1.5rem;
    margin-left: 3.5em;
}

#messageheader svg {
    display: none;
}



/*****************************
Login page 
*****************************/
#loginform label {
    display: block;
}



/*****************************
mobile styles, media query   
*****************************/
@media only screen and (max-width: 768px) {
    #chatcontainer {
        width: 100%;
        top: 0;
        bottom: 0;
    }
    aside {
        width: 0%;
        background: var(--achtergrond);
        transition: all .3s;
        border: none;
    }
    aside.active {
        width: 100%;
    }
    #messages li {
        font-size: 1.1rem;
    }

    #messageheader h1 {
        margin-left: .5em;
    }

    #messageheader svg {
        display: inline;
        width: 3em;
    }
}